#my, #rival{
    display : inline-block;
    vertical-align : top;
}
.turn {
    border: 1px solid black;
}
#rival {
    vertical-align: bottom;
}
#rival-deck, #rival-hero, #rival-cards  , #my-cards, #my-deck, #my-hero{
    text-align: center;
    margin-right: 50px;
}
#my-deck, #rival-deck{
    display:inline-block;
    vertical-align: top;
    width:200px;
    background : silver;
}
.card {
    width : 50px;
    height: 75px;
    display : inline-block;
    position :relative;
    border : 1px solid black;
    margin-bottom : 10px;
    background : white;
}
.card-name{
    text-align : center;
}
.card-att, .card-hp, .card-cost{
    font-size:12px;
    font-weight:bold;
    text-align : center;
    line-height:15px;
    width: 15px;
    height: 15px;
    border-radius : 50%;
    display : inline-block;
    position : absolute;
    bottom : 0;
    border: 1px solid black;
}
.card-cost{
    bottom : auto;
    top : 0;
    left : 0;
    background-color : blue;
    color : white;
}
.card-att{
    left : 0;
    background-color : yellow;
}
.card-hp{
    right : 0;
    background-color: red;
    color : white;
}
.card-hidden {
    display:none;
}
.card-selected{
    border: 2px solid red;
}
.card-turnover{
    background:gray;
}
#turn-btn {
    position : absolute;
    top: 28%;
    right : 0;
}